@import "./variables";

.titles{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin: 0;
    padding: 50px;
    box-sizing: border-box;
    animation: upToDown 1s normal;

    &__titleIndex{
        margin: 0;
        padding: 0;
        font-family: $fonts-mainFont;
        font-size: 6rem;
    }
}

/* Adaptacion de clases de Boostrap: NavBar */
.bg-light
{
    background-color: black !important;
    display: flex !important;
    flex-flow: row-reverse wrap !important;
    animation: rightToLeft 1.2s normal;
}

.navbar-light .navbar-nav .nav-link {
    color: white !important;
    font-weight: bolder !important;
    font-family: $fonts-text !important;
    font-size: 1.2rem !important;
    transition: all 1s ease;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: red !important;
    width: auto;
}

.navbar-collapse {
    flex-flow: row-reverse wrap;
}